$small-only: mq(0,bp("small"));  //
//
$medium-only: mq(bp("small"),bp("medium"));  //
$medium-up: mq(bp("small"),9999);  //
$medium-down: mq(0,bp("medium"));  //
//
$large-only: mq(bp("medium"),bp("large"));  //
$large-up: mq(bp("medium"),9999);  //
$large-down: mq(0,bp("large"));  //
//
$xlarge-only: mq(bp("large"),bp("xlarge"));  //
$xlarge-up: mq(bp("large"),9999);  //
$xlarge-down: mq(0,bp("xlarge"));  //
//
$xxlarge-only: mq(bp("xlarge"),bp("xxlarge"));  //

$mobile: mq(0,map-get($grid-breakpoints,"small")); //
$landscape: "#{$grid-screen} and (orientation: landscape)"; //
$portrait: "#{$grid-screen} and (orientation: portrait)";


// Hide classes
.hide-for-large-up{
	@media #{$large-up}{ display: none; }
}
.hide-for-large-only{
	@media #{$large-only}{ display: none; }
}
.hide-for-medium-up{
	@media #{$medium-up}{ display: none; }
}
.hide-for-medium-only{
	@media #{$medium-only}{ display: none; }
}
.hide-for-small{
	@media #{$small-only}{ display: none; }
}

// Show classes
.show-for-small-only{
	@media #{$medium-up}{ display: none; }
}
.show-for-medium-only{
	@media #{$small-only}{ display: none; }
	@media #{$large-up}{ display: none; }
}
.show-for-large-only{
	@media #{$medium-down}{ display: none; }
	@media #{$xlarge-up}{ display: none; }
}