@import 'scss/settings', 'scss/functions', 'scss/mixins';

.#{$prefix}row {
	max-width: $grid-row-width;
	width: 100%;
	margin: auto;
	@include createGridClasses(true);
	display: flex;
	justify-content: flex-start;
	flex-flow: row wrap;
	&.#{$prefix}center {
		justify-items: center;
		justify-content: center;
	}
	&.#{$prefix}right {
		justify-items: right;
		justify-content: flex-end;
	}
}

.#{$prefix}column {
	box-sizing: border-box !important;
	@include createGridClasses(false);
}

@import 'scss/media-queries', 'scss/media-queries-classes', 'scss/variables';
